summary, details{
    -webkit-animation: bounce-right 2s 6 both ease-out;
              animation: bounce-right 2s 6 both ease-out;
 }
          @-webkit-keyframes bounce-right {
  0%, 10%, 25%, 40%, 50% {
    -webkit-transform: translateX(0);
            transform: translateX(0); }
  20% {
    -webkit-transform: translateX(10px);
            transform: translateX(10px); }
  30% {
    -webkit-transform: translateX(-5px);
            transform: translateX(-5px); } }
@keyframes bounce-right {
  0%, 10%, 25%, 40%, 50% {
    -webkit-transform: translateX(0);
            transform: translateX(0); }
  20% {
    -webkit-transform: translateX(10px);
            transform: translateX(10px); }
  30% {
    -webkit-transform: translateX(-5px);
            transform: translateX(-5px); } }
          
          
details {
    font-family: 'Space Mono', monospace;
    font-size: 3rem !important;
    line-height: auto;
    z-index: 999;
    background-color: transparent;
    opacity: .65;
    position: fixed;
    color: white;
    width: 100vw;
    padding: 2vw;
    margin: auto;
    top: 0;
    left: 0;
    display: block;

}
details p {
    margin: 0;
    font-size: 3rem !important;
    line-height: auto;
    color: white;
    height: auto;
    overflow: auto;
    padding: 0;
          }


@media (max-width: 768px) {
     details {
    font-size: 3vw !important;
    padding: 4vw;
    margin: auto;
    top: 0;
    left: 0;
    display: block;
}
    
details p {
    font-size: 3vw !important;
          }
  }
