body {
  background-color: #fcdede;
  overflow-x: hidden;
}

.video {
  width: 100%;
  height: auto;
  margin-top: 50px;
}

#content-row {
  position: absolute;
  top: 27%;
  margin-bottom: 100px;
  padding-left: 100px;
  padding-right: 100px;
}
