/*@font-face {
  font-family: "SpaceMono-Regular";
  font-style: normal;
  src: url(css/SpaceMono-Regular.ttf) format("truetype");}*/

canvas { width: 100vw; height: 100vh; display: block; }

body {
  overflow-x: hidden;
  font-family: 'Space Mono', monospace;
  margin:0;
}

#header-title {
  margin-left: 60px;
}

#content-row {
  position: absolute;
  top: 33%;
}

#div-bottom {
  /* position: absolute; */
  margin-top: 100px;
  margin-right: 100px;
}

.logo-tagline {
  /* position: absolute; */
  /* float: right; */
  text-align: right;
  margin-right: 100px;
}

#div-artists {
  padding-right: 30px;
  padding-left: 30px;
}

.artist {
  display: inline;
}

.artist-list {
  font-size: 45px;
  padding-left: 150px;
  padding-right: 100px;
  margin-bottom: 2px;
  line-height: 4rem;
}

.artist-list li:before {
  /* content: "\00a0\2022\00a0\00a0";*/
  color: black;
  font-size: 100px;
  /* margin-left: 30px; */
  left: 30px;
  top: 20px;
  position: relative;
}
.artist-list li:first-child:before {
  /* content: ""; */
}

p {
  position: relative;
  top: 20px;
}
.artist-link:hover {
  border: none;
  text-decoration: none;
}

a:link {
  color: black;
}

a:visited {
  color: black;
}

#logo-div {
  position: absolute;
  /* margin-right: 100px; */
  right: 100px;
  bottom: -100px;
}

@media (max-width: 768px) {
  #header-title {
    margin-left: 30px;
    font-size: 20px;
  }
  #logo-div {
    margin-left: 0px;
  }

  .artist-list {
    font-size: 20px;
    padding-left: 30px;
    padding-right: 30px;
    margin-bottom: 200px;
    line-height: 4rem;
  }

  .artist-list li:before {
   /* content: "\00a0\2022\00a0\00a0";*/
    color: black;
    font-size: 45px;
    margin-left: 0px;
    left: 15px;
    top: 8px;
    position: relative;
  }
  #content-row {
    top: 14%;
    padding-left: 0px;
  }

  #div-bottom {
    position: absolute;
    bottom: 10%;
    /* left: 10%; */
  }

  .logo-tagline {
    /* position: relative; */
    /* display: inline; */
    /* margin-right: 10px; */
    font-size: 15px;
    margin-left: 20px;
  }

  #logo-div {
    position: absolute;
    right: -30px;
    bottom: 5px;
  }
}
