/*@font-face {
  font-family: "SpaceMono-Regular";
  font-style: normal;
  src: url(css/SpaceMono-Regular.ttf) format("truetype");}*/

canvas { width: 100vw; height: 100vh; display: block; position: fixed; z-index: -9999999}

#more {display: none;}

.tit img {
  position: relative;
  margin-top: 5rem;
  margin-left: 9rem;
  width: 33em;
 }

@media (max-width: 768px) {
  
   .tit img {
  position: relative;
  margin: 2rem;
  width: 21rem;
 } 
}

.footer {
  bottom: 2.5rem;
  right: 2.5rem;
  position: fixed;
  z-index: 99;
  width:auto;
}

.footer img {
 
}
.footer p {
float: left;
text-align: left;
}

body {
  overflow-x: hidden;
  font-family: 'Space Mono', monospace;
  margin:0;
}

#header-title {
  margin-left: 60px;
}

#content-row {
  position: absolute;
  top: 33%;
}

#div-bottom {
  /* position: absolute; */
  margin-top: 100px;
  margin-right: 100px;
}

.logo-tagline {
  /* position: absolute; */
  /* float: right; */
  text-align: right;
  margin-right: 100px;
}

#div-artists {
  padding-right: 30px;
  padding-left: 30px;
}

.artist {
  display: inline;
}

.artist-list {
  font-size: 3rem !important;
  padding-left: 150px;
  padding-right: 100px;
  margin-bottom: 50px;
  line-height: 5rem !important;
}

p {
  pointer-events: none;
  font-size: 3rem !important;
  padding-left: 150px;
  padding-right: 100px;
  margin-bottom: 50px;
  line-height: auto !important;
}

.artist-list li:before {
  /* content: "\00a0\2022\00a0\00a0";
  color: black;
  font-size: 100px;
  margin-left: 30px; 
  left: 30px;
  top: 20px;
  position: relative;*/
}
.artist-list li:first-child:before {
  /* content: ""; */
}


.artist-link:hover {
  
  border: none;
  text-decoration: line-through !important;
}

a:link {
  color: black; 
  text-decoration:none !important;
}

a:hover {text-decoration: line-through !important;}

a:visited {
  color: black;
  text-decoration:none !important;
}

/*
#logo-div {
  position: absolute;
  
  right: 30px !important;
  bottom: 30px !important;;
}

#logo-div img {
  position: absolute;
 
  right: 30px !important;
  bottom: 30px !important;;
}*/

@media (max-width: 768px) {
 
  
  #header-title {
    margin-left: 30px;
    font-size: 20px;
  }
  

  .artist-list {
    font-size: 1.5rem !important;
    padding-top: 45px;
    padding-left: 15px;
    padding-right: 30px;
    margin-bottom: 20px;
    line-height: 3rem !important;
  }
  
  p {
  font-size: 1.5rem !important;
   padding-left: 15px;
   padding-right: 30px;
   margin-bottom: 20px;
  line-height: auto !important;
}

  .artist-list li:before {
   /* content: "\00a0\2022\00a0\00a0";
    color: black;
    font-size: 45px;
    margin-left: 0px;
    left: 15px;
    top: 8px;
    position: relative;*/
  }
  #content-row {
    top: 14%;
    padding-left: 0px;
  }

  #div-bottom {
    position: absolute;
    bottom: 10%;
    /* left: 10%; */
  }

  .logo-tagline {
    /* position: relative; */
    /* display: inline; */
    /* margin-right: 10px; */
    font-size: 15px;
    margin-left: 20px;
  }

  .footer img {
  
    width: 7rem;
    bottom: 2rem;
    right: 2rem;
    position: fixed;

}
  
  button {
   padding-left: 15px; 
  }

}
