body {
  background-color: black;
}
#video-div {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
  z-index: -100;
}

#foggy-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

#vimeo-video {
  /* height: 100%; */
  width: 100%;
  /* right: 50%; */
  margin-top: 75px;
}

iframe {
  position: absolute;
  top: 300px;
}

#led-img {
  position: absolute;
  top: 200px;
  width: 100%;
  height: auto;
}

@media (min-aspect-ratio: 16/9) {
  #foggy-video {
    top: -100%;
    height: 300%;
  }
}

@media (max-aspect-ratio: 16/9) {
  #foggy-video {
    width: 300%;
    height: -100%;
  }
}

@media (max-width: 767px) {
  #foggy-video {
    display: none;
  }

  #video-div {
    background: url("https://www.itwjagbps.net/images/the-light-in-the-foggy-coast/fog.png") center center;
    border: none;
  }

  #vimeo-video {
    top: 200px;
    width: 90%;
  }
  #led-img {
    /* position: absolute; */
    top: 240px;
    width: 90%;
    height: auto;
  }
}
