body {
  overflow-x: hidden;
  
}

body {
  background-color: black;
}

svg {
  position: absolute;
  top: 40px;
  left: 500px;
}

@media (max-width: 768px) {
  html { position:fixed;overflown:hidden;}
  #iframeDiv {
    top: 150px;
    /* overflow: hidden; */
  }
}
