body {
  overflow-x: hidden;
}

body {
  background-color: black;
}

svg {
  position: absolute;
  top: 40px;
  left: 500px;
}

@media (max-width: 768px) {
  #iframeDiv {
    top: 250px;
    /* overflow: hidden; */
  }
}
